'.text.gherkin.feature.uk':
  'editor':
    'completions': [
      'Функціонал:'
      'Передумова:'
      'Сценарій:'
      'Структура сценарію:'
      'Приклади:'
      'Припустимо'
      'Припустимо, що'
      'Нехай'
      'Дано'
      'Якщо'
      'Коли'
      'То'
      'Тоді'
      'Але'
      'І'
      'А також'
      'Та'
    ]
    'increaseIndentPattern': [
      'Сценарій: .*'
    ]
    'commentStart': '# '
