'.text.gherkin.feature.ko':
  'editor':
    'completions': [
      '기능:'
      '배경:'
      '시나리오:'
      '시나리오 개요:'
      '예:'
      '조건'
      '먼저'
      '만일'
      '만약'
      '그러면'
      '하지만'
      '단'
      '그리고'
    ]
    'increaseIndentPattern': [
      '시나리오: .*'
    ]
    'commentStart': '# '
