'scopeName': 'text.gherkin.feature.ta'
'name': 'Gherkin-ta'
'firstLineMatch' : '\#( +)?language\:( +)?ta'
'fileTypes': [ 'feature' ]
'patterns': [
    {
        'match': '#(.*)$'
        'name': 'comment.line.gherkin'
    }
    {
        'match': '^\\.\\.\\.(.*)$'
        'name': 'comment.line.gherkin'
    }
    {
        'match': '(^\\*\\*\\*.*?\\*\\*\\*)|((?<=^\\|)\\s+\\*\\*\\*.*?\\*\\*\\*)'
        'name': 'support.class.gherkin'
    }
    {
        'match': '(\\$\\{.*?\\})|(@\\{.*?\\})'
        'name': 'string.single.qoute.gherkin'
    }
    {
        'name': 'keyword.gherkin'
        'patterns': [
          {
            'include': '#keyword.gherkin.feature'
          }
          {
            'include': '#keyword.gherkin.background'
          }
          {
            'include': '#keyword.gherkin.scenario'
          }
          {
            'include': '#keyword.gherkin.scenario_outline'
          }
          {
            'include': '#keyword.gherkin.examples'
          }
        ]
    }
    {
        'match': '\\s*(அம்சம்\\:|வணிக தேவை\\:|திறன்\\:)'
        'name': 'keyword.gherkin.feature'
    }
    {
        'match': '\\s*(பின்னணி\\:)'
        'name': 'keyword.gherkin.background'
    }
    {
        'match': '\\s*(உதாரணமாக\\:|காட்சி\\:)'
        'name': 'keyword.gherkin.scenario'
    }
    {
        'match': '\\s*(காட்சி சுருக்கம்\\:|காட்சி வார்ப்புரு\\:)'
        'name': 'keyword.gherkin.scenario_outline'
    }
    {
        'match': '\\s*(எடுத்துக்காட்டுகள்\\:|காட்சிகள்\\:|நிலைமைகளில்\\:)'
        'name': 'keyword.gherkin.examples'
    }
    {
        "begin": '(^[^ \\t\\*\\n\\|]+)|((?<=^\\|)\\s+[^ \\t\\*\\n\\|]+)'
        "end": '\\s{2}|\\t|$|\\s+(?=\\|)'
        'name': 'keyword.gherkin'
    }
    {
        'name': 'support.class.gherkin'
        'patterns': [
          {
            'include': '#support.class.gherkin.given'
          }
          {
            'include': '#support.class.gherkin.when'
          }
          {
            'include': '#support.class.gherkin.then'
          }
          {
            'include': '#support.class.gherkin.but'
          }
          {
            'include': '#support.class.gherkin.and'
          }
        ]
    }
    {
        'match': '\\s*(கொடுக்கப்பட்ட )'
        'name': 'support.class.gherkin.given'
    }
    {
        'match': '\\s*(எப்போது )'
        'name': 'support.class.gherkin.when'
    }
    {
        'match': '\\s*(அப்பொழுது )'
        'name': 'support.class.gherkin.then'
    }
    {
        'match': '\\s*(ஆனால்  )'
        'name': 'support.class.gherkin.but'
    }
    {
        'match': '\\s*(மேலும்  |மற்றும் )'
        'name': 'support.class.gherkin.and'
    }
    {
        'match': '(?<=\\s|^)(@[A-Za-z0-9_\\-]+)'
        'name': 'entity.name.function.decorator.gherkin'
    }
    {
        'match': '\\s(\\d*)\\s'
        'name': 'entity.name.function.decorator.gherkin'
    }
    {
        'match': '(\\<(\\w+\\s*)+\\>)'
        'name': 'constant.character.escape.feature'
    }
    {
        'match': "(\\s\\'.*?[^\\']\\'\\s)"
        'name': 'string.single.qoute.gherkin'
    }
    {
        'match': '(\\s\\".*?[^\\"]\\"\\s)'
        'name': 'string.double.qoute.gherkin'
    }
    {
        'match': "\\[(\\'.*?[^\\']\\')\\]"
        'name': 'constant.character.escape.feature'
    }
    {
        'match': '(\\[[^]]*\\])'
        'name': 'constant.numeric.gherkin'
    }
    {
        'match': '\\|\\s(.*)\\s\\|'
        'name': 'constant.numeric.gherkin'
    }
]
