'scopeName': 'source.feature'
'name': 'Gherkin-i18n'
'firstLineMatch' : '^(.*)\\s*en-Scouse$'
'fileTypes': [ 'feature' ]
'patterns': [
    {
        'match': '#(.*)$'
        'name': 'comment.line.gherkin'
    }
    {
        'match': '^\\.\\.\\.(.*)$'
        'name': 'comment.line.gherkin'
    }
    {
        'match': '(^\\*\\*\\*.*?\\*\\*\\*)|((?<=^\\|)\\s+\\*\\*\\*.*?\\*\\*\\*)'
        'name': 'support.class.gherkin'
    }
    {
        'match': '(\\$\\{.*?\\})|(@\\{.*?\\})'
        'name': 'string.single.qoute.gherkin'
    }
    {
        'name': 'keyword.gherkin'
        'patterns': [
          {
            'include': '#keyword.gherkin.feature'
          }
          {
            'include': '#keyword.gherkin.background'
          }
          {
            'include': '#keyword.gherkin.scenario'
          }
          {
            'include': '#keyword.gherkin.scenario_outline'
          }
          {
            'include': '#keyword.gherkin.examples'
          }
    }
    {
        'match': '\\s*(Feature\\:)'
        'name': 'keyword.gherkin.feature'
    }
    {
        'match': '\\s*(Dis is what went down\\:)'
        'name': 'keyword.gherkin.background'
    }
    {
        'match': '\\s*(The thing of it is\\:)'
        'name': 'keyword.gherkin.scenario'
    }
    {
        'match': '\\s*(The thing of it isOUTLINE__\\:)'
        'name': 'keyword.gherkin.scenario_outline'
    }
    {
        'match': '\\s*(Examples\\:)'
        'name': 'keyword.gherkin.examples'
    }
    {
        "begin": '(^[^ \\t\\*\\n\\|]+)|((?<=^\\|)\\s+[^ \\t\\*\\n\\|]+)'
        "end": '\\s{2}|\\t|$|\\s+(?=\\|)'
        'name': 'keyword.gherkin'
    }
    {
        'name': 'support.class.gherkin'
        'patterns': [
          {
            'include': '#support.class.gherkin.given'
          }
          {
            'include': '#support.class.gherkin.when'
          }
          {
            'include': '#support.class.gherkin.then'
          }
          {
            'include': '#support.class.gherkin.but'
          }
          {
            'include': '#support.class.gherkin.and'
          }
        ]
    }
    {
        'match': '\\s*(Givun|Youse know when youse got)'
        'name': 'support.class.gherkin.given'
    }
    {
        'match': '\\s*(Wun|Youse know like when)'
        'name': 'support.class.gherkin.when'
    }
    {
        'match': '\\s*(Dun|Den youse gotta)'
        'name': 'support.class.gherkin.then'
    }
    {
        'match': '\\s*(Buh)'
        'name': 'support.class.gherkin.but'
    }
    {
        'match': '\\s*(An)'
        'name': 'support.class.gherkin.and'
    }
    {
        'match': '(?<=\\s|^)(@[A-Za-z0-9_\\-]+)'
        'name': 'entity.name.function.decorator.gherkin'
    }
    {
        'match': '\\s(\\d*)\\s'
        'name': 'entity.name.function.decorator.gherkin'
    }
    {
        'match': '(\\<\\w+\\>)'
        'name': 'constant.character.escape.feature'
    }
    {
        'match': "(\\'.*?[^\\']\\')"
        'name': 'string.single.qoute.gherkin'
    }
    {
        'match': '(\\".*?[^\\"]\\")'
        'name': 'string.double.qoute.gherkin'
    }
    {
        'match': "\\[(\\'.*?[^\\']\\')\\]"
        'name': 'constant.character.escape.feature'
    }
    {
        'match': '(\\[[^]]*\\])'
        'name': 'constant.numeric.gherkin'
    }
    {
        'match': '\\|\\s(.*)\\s\\|'
        'name': 'constant.numeric.gherkin'
    }
]
