'scopeName': 'text.gherkin.feature'
'name': 'Gherkin-zh-CN'
'firstLineMatch' : '^(.*)\s*zh-CN$'
'fileTypes': [ 'feature' ]
'patterns': [
    {
        'match': '#(.*)$'
        'name': 'comment.line.gherkin'
    }
    {
        'match': '^\\.\\.\\.(.*)$'
        'name': 'comment.line.gherkin'
    }
    {
        'match': '(^\\*\\*\\*.*?\\*\\*\\*)|((?<=^\\|)\\s+\\*\\*\\*.*?\\*\\*\\*)'
        'name': 'support.class.gherkin'
    }
    {
        'match': '(\\$\\{.*?\\})|(@\\{.*?\\})'
        'name': 'string.single.qoute.gherkin'
    }
    {
        'name': 'keyword.gherkin'
        'patterns': [
          {
            'include': '#keyword.gherkin.feature'
          }
          {
            'include': '#keyword.gherkin.background'
          }
          {
            'include': '#keyword.gherkin.scenario'
          }
          {
            'include': '#keyword.gherkin.scenario_outline'
          }
          {
            'include': '#keyword.gherkin.examples'
          }
        ]
    }
    {
        'match': '\\s*(功能\\:)'
        'name': 'keyword.gherkin.feature'
    }
    {
        'match': '\\s*(背景\\:)'
        'name': 'keyword.gherkin.background'
    }
    {
        'match': '\\s*(场景\\:|剧本\\:)'
        'name': 'keyword.gherkin.scenario'
    }
    {
        'match': '\\s*(场景\\:|剧本OUTLINE__\\:)'
        'name': 'keyword.gherkin.scenario_outline'
    }
    {
        'match': '\\s*(例子\\:)'
        'name': 'keyword.gherkin.examples'
    }
    {
        "begin": '(^[^ \\t\\*\\n\\|]+)|((?<=^\\|)\\s+[^ \\t\\*\\n\\|]+)'
        "end": '\\s{2}|\\t|$|\\s+(?=\\|)'
        'name': 'keyword.gherkin'
    }
    {
        'name': 'support.class.gherkin'
        'patterns': [
          {
            'include': '#support.class.gherkin.given'
          }
          {
            'include': '#support.class.gherkin.when'
          }
          {
            'include': '#support.class.gherkin.then'
          }
          {
            'include': '#support.class.gherkin.but'
          }
          {
            'include': '#support.class.gherkin.and'
          }
        ]
    }
    {
        'match': '\\s*(假如|假设|假定)'
        'name': 'support.class.gherkin.given'
    }
    {
        'match': '\\s*(当)'
        'name': 'support.class.gherkin.when'
    }
    {
        'match': '\\s*(那么)'
        'name': 'support.class.gherkin.then'
    }
    {
        'match': '\\s*(但是)'
        'name': 'support.class.gherkin.but'
    }
    {
        'match': '\\s*(而且|并且|同时)'
        'name': 'support.class.gherkin.and'
    }
    {
        'match': '(?<=\\s|^)(@[A-Za-z0-9_\\-]+)'
        'name': 'entity.name.function.decorator.gherkin'
    }
    {
        'match': '\\s(\\d*)\\s'
        'name': 'entity.name.function.decorator.gherkin'
    }
    {
        'match': '(\\<\\w+\\>)'
        'name': 'constant.character.escape.feature'
    }
    {
        'match': "(\\'.*?[^\\']\\')"
        'name': 'string.single.qoute.gherkin'
    }
    {
        'match': '(\\".*?[^\\"]\\")'
        'name': 'string.double.qoute.gherkin'
    }
    {
        'match': "\\[(\\'.*?[^\\']\\')\\]"
        'name': 'constant.character.escape.feature'
    }
    {
        'match': '(\\[[^]]*\\])'
        'name': 'constant.numeric.gherkin'
    }
    {
        'match': '\\|\\s(.*)\\s\\|'
        'name': 'constant.numeric.gherkin'
    }
]
