'scopeName': 'text.gherkin.feature.ko'
'name': 'Gherkin-ko'
'firstLineMatch' : '^# language: ko$(\r)?\n'
'fileTypes': [ 'feature' ]
'patterns': [
    {
        'match': '#(.*)$'
        'name': 'comment.line.gherkin'
    }
    {
        'match': '^\\.\\.\\.(.*)$'
        'name': 'comment.line.gherkin'
    }
    {
        'match': '(^\\*\\*\\*.*?\\*\\*\\*)|((?<=^\\|)\\s+\\*\\*\\*.*?\\*\\*\\*)'
        'name': 'support.class.gherkin'
    }
    {
        'match': '(\\$\\{.*?\\})|(@\\{.*?\\})'
        'name': 'string.single.qoute.gherkin'
    }
    {
        'name': 'keyword.gherkin'
        'patterns': [
          {
            'include': '#keyword.gherkin.feature'
          }
          {
            'include': '#keyword.gherkin.background'
          }
          {
            'include': '#keyword.gherkin.scenario'
          }
          {
            'include': '#keyword.gherkin.scenario_outline'
          }
          {
            'include': '#keyword.gherkin.examples'
          }
        ]
    }
    {
        'match': '\\s*(기능\\:)'
        'name': 'keyword.gherkin.feature'
    }
    {
        'match': '\\s*(배경\\:)'
        'name': 'keyword.gherkin.background'
    }
    {
        'match': '\\s*(시나리오\\:)'
        'name': 'keyword.gherkin.scenario'
    }
    {
        'match': '\\s*(시나리오 개요\\:)'
        'name': 'keyword.gherkin.scenario_outline'
    }
    {
        'match': '\\s*(예\\:)'
        'name': 'keyword.gherkin.examples'
    }
    {
        "begin": '(^[^ \\t\\*\\n\\|]+)|((?<=^\\|)\\s+[^ \\t\\*\\n\\|]+)'
        "end": '\\s{2}|\\t|$|\\s+(?=\\|)'
        'name': 'keyword.gherkin'
    }
    {
        'name': 'support.class.gherkin'
        'patterns': [
          {
            'include': '#support.class.gherkin.given'
          }
          {
            'include': '#support.class.gherkin.when'
          }
          {
            'include': '#support.class.gherkin.then'
          }
          {
            'include': '#support.class.gherkin.but'
          }
          {
            'include': '#support.class.gherkin.and'
          }
        ]
    }
    {
        'match': '\\s*(조건|먼저)'
        'name': 'support.class.gherkin.given'
    }
    {
        'match': '\\s*(만일|만약)'
        'name': 'support.class.gherkin.when'
    }
    {
        'match': '\\s*(그러면)'
        'name': 'support.class.gherkin.then'
    }
    {
        'match': '\\s*(하지만|단)'
        'name': 'support.class.gherkin.but'
    }
    {
        'match': '\\s*(그리고)'
        'name': 'support.class.gherkin.and'
    }
    {
        'match': '(?<=\\s|^)(@[A-Za-z0-9_\\-]+)'
        'name': 'entity.name.function.decorator.gherkin'
    }
    {
        'match': '\\s(\\d*)\\s'
        'name': 'entity.name.function.decorator.gherkin'
    }
    {
        'match': '(\\<(\\w+\\s*)+\\>)'
        'name': 'constant.character.escape.feature'
    }
    {
        'match': "(\\s\\'.*?[^\\']\\'\\s)"
        'name': 'string.single.qoute.gherkin'
    }
    {
        'match': '(\\s\\".*?[^\\"]\\"\\s)'
        'name': 'string.double.qoute.gherkin'
    }
    {
        'match': "\\[(\\'.*?[^\\']\\')\\]"
        'name': 'constant.character.escape.feature'
    }
    {
        'match': '(\\[[^]]*\\])'
        'name': 'constant.numeric.gherkin'
    }
    {
        'match': '\\|\\s(.*)\\s\\|'
        'name': 'constant.numeric.gherkin'
    }
]
