'scopeName': 'text.gherkin.feature.en-old'
'name': 'Gherkin-en-old'
'firstLineMatch' : '^# language: en-old$(\r)?\n'
'fileTypes': [ 'feature' ]
'patterns': [
    {
        'match': '#(.*)$'
        'name': 'comment.line.gherkin'
    }
    {
        'match': '^\\.\\.\\.(.*)$'
        'name': 'comment.line.gherkin'
    }
    {
        'match': '(^\\*\\*\\*.*?\\*\\*\\*)|((?<=^\\|)\\s+\\*\\*\\*.*?\\*\\*\\*)'
        'name': 'support.class.gherkin'
    }
    {
        'match': '(\\$\\{.*?\\})|(@\\{.*?\\})'
        'name': 'string.single.qoute.gherkin'
    }
    {
        'name': 'keyword.gherkin'
        'patterns': [
          {
            'include': '#keyword.gherkin.feature'
          }
          {
            'include': '#keyword.gherkin.background'
          }
          {
            'include': '#keyword.gherkin.scenario'
          }
          {
            'include': '#keyword.gherkin.scenario_outline'
          }
          {
            'include': '#keyword.gherkin.examples'
          }
        ]
    }
    {
        'match': '\\s*(Hwaet\\:|Hwæt\\:)'
        'name': 'keyword.gherkin.feature'
    }
    {
        'match': '\\s*(Aer\\:|Ær\\:)'
        'name': 'keyword.gherkin.background'
    }
    {
        'match': '\\s*(Swa\\:)'
        'name': 'keyword.gherkin.scenario'
    }
    {
        'match': '\\s*(Swa hwaer swa\\:|Swa hwær swa\\:)'
        'name': 'keyword.gherkin.scenario_outline'
    }
    {
        'match': '\\s*(Se the\\:|Se þe\\:|Se ðe\\:)'
        'name': 'keyword.gherkin.examples'
    }
    {
        "begin": '(^[^ \\t\\*\\n\\|]+)|((?<=^\\|)\\s+[^ \\t\\*\\n\\|]+)'
        "end": '\\s{2}|\\t|$|\\s+(?=\\|)'
        'name': 'keyword.gherkin'
    }
    {
        'name': 'support.class.gherkin'
        'patterns': [
          {
            'include': '#support.class.gherkin.given'
          }
          {
            'include': '#support.class.gherkin.when'
          }
          {
            'include': '#support.class.gherkin.then'
          }
          {
            'include': '#support.class.gherkin.but'
          }
          {
            'include': '#support.class.gherkin.and'
          }
        ]
    }
    {
        'match': '\\s*(Thurh|Þurh|Ðurh)'
        'name': 'support.class.gherkin.given'
    }
    {
        'match': '\\s*(Tha|Þa|Ða)'
        'name': 'support.class.gherkin.when'
    }
    {
        'match': '\\s*(Tha|Þa|Ða|Tha the|Þa þe|Ða ðe)'
        'name': 'support.class.gherkin.then'
    }
    {
        'match': '\\s*(Ac)'
        'name': 'support.class.gherkin.but'
    }
    {
        'match': '\\s*(Ond|7)'
        'name': 'support.class.gherkin.and'
    }
    {
        'match': '(?<=\\s|^)(@[A-Za-z0-9_\\-]+)'
        'name': 'entity.name.function.decorator.gherkin'
    }
    {
        'match': '\\s(\\d*)\\s'
        'name': 'entity.name.function.decorator.gherkin'
    }
    {
        'match': '(\\<\\w+\\>)'
        'name': 'constant.character.escape.feature'
    }
    {
        'match': "(\\'.*?[^\\']\\')"
        'name': 'string.single.qoute.gherkin'
    }
    {
        'match': '(\\".*?[^\\"]\\")'
        'name': 'string.double.qoute.gherkin'
    }
    {
        'match': "\\[(\\'.*?[^\\']\\')\\]"
        'name': 'constant.character.escape.feature'
    }
    {
        'match': '(\\[[^]]*\\])'
        'name': 'constant.numeric.gherkin'
    }
    {
        'match': '\\|\\s(.*)\\s\\|'
        'name': 'constant.numeric.gherkin'
    }
]
