'.text.gherkin.feature.gj':
  'editor':
    'completions': [
      'લક્ષણ:'
      'વ્યાપાર જરૂર:'
      'ક્ષમતા:'
      'બેકગ્રાઉન્ડ:'
      'સ્થિતિ:'
      'પરિદ્દશ્ય રૂપરેખા:'
      'પરિદ્દશ્ય ઢાંચો:'
      'ઉદાહરણો:'
      'આપેલ છે '
      'ક્યારે '
      'પછી '
      'પણ '
      'અને '
    ]
    'increaseIndentPattern':       'સ્થિતિ: .*'
    'commentStart': '# '
