'.text.gherkin.feature.pa':
  'editor':
    'completions': [
      'ਖਾਸੀਅਤ:'
      'ਮੁਹਾਂਦਰਾ:'
      'ਨਕਸ਼ ਨੁਹਾਰ:'
      'ਪਿਛੋਕੜ:'
      'ਪਟਕਥਾ:'
      'ਪਟਕਥਾ ਢਾਂਚਾ:'
      'ਪਟਕਥਾ ਰੂਪ ਰੇਖਾ:'
      'ਉਦਾਹਰਨਾਂ:'
      'ਜੇਕਰ '
      'ਜਿਵੇਂ ਕਿ '
      'ਜਦੋਂ '
      'ਤਦ '
      'ਪਰ '
      'ਅਤੇ '
    ]
    'increaseIndentPattern':       'ਪਟਕਥਾ: .*'
    'commentStart': '# '
