'.text.gherkin.feature':
  'editor':
    'completions': [
		'A také'
		'A'
		'AN'
		'Aber'
		'Abstract Scenario'
		'Abstrakt Scenario'
		'Abstrakt Scenario':
		'Ac'
		'Achtergrond'
		'Aer':
		'Agtergrond'
		'Ahoy matey!'
		'Ak'
		'Akkor'
		'Ale'
		'Aleshores'
		'Ali'
		'Allora'
		'Alors'
		'Als'
		'Amennyiben'
		'An'
		'And'
		'Angenommen'
		'Anrhegedig a'
		'Antecedentes'
		'Apabila'
		'Arwedd'
		'Atburðarás'
		'Atunci'
		'Avast!'
		'Awww, look mate'
		'Aye'
		'B4'
		'BUT'
		'Background'
		'Baggrund'
		'Bakgrund'
		'Bakgrunn'
		'Bakgrunnur'
		'Beispiele'
		'Beispiller'
		'Bet'
		'Biết'
		'Blimey!'
		'Buh'
		'But at the end of the day I reckon'
		'But'
		'Bối cảnh'
		'Cand'
		'Cando'
		'Característica'
		'Característica':
		'Cefndir'
		'Cenário':
		'Contesto'
		'Context'
		'Contexte'
		'Contexto'
		'Contexto':
		'Conto':
		'Contoh'
		'Cuando'
		'DEN'
		'Dado'
		'Dan'
		'Dann'
		'Dano'
		'Dar'
		'Dasar'
		'Date fiind'
		'Dato'
		'De'
		'Dead men tell no tales'
		'Dengan'
		'Diberi'
		'Dis is what went down'
		'Diyelim ki'
		'Do'
		'Donat'
		'Donitaĵo'
		'Dun'
		'Duota'
		'Dæmi':
		'Dữ liệu'
		'E'
		'EXAMPLZ'
		'Eeldades'
		'Ef'
		'Egenskab'
		'Egenskap'
		'Egzanp'
		'Eiginleiki'
		'Ejemplos'
		'Eksempler'
		'Ekzemploj'
		'En'
		'Enghreifftiau'
		'Entonces'
		'Então'
		'Entón'
		'Esbozo do escenario'
		'Escenari'
		'Escenario'
		'Esempi'
		'Esquema de l\'escenari'
		'Esquema del escenario'
		'Esquema do Cenário':
		'Et'
		'Examples'
		'Examples':
		'Exempel'
		'Exemple'
		'Exemples'
		'Exemplos'
		'Exemplos':
		'Eğer ki'
		'Fakat'
		'Feature'
		'Feature':
		'First off'
		'Fitur'
		'Fonctionnalité'
		'Fono'
		'Forgatókönyv vázlat'
		'Forgatókönyv'
		'Funcionalidade':
		'Functionalitate':
		'Functionaliteit'
		'Fungsi'
		'Funkcionalitāte':
		'Funkcionalnost':
		'Funksie':
		'Funktionalität'
		'Funktionalitéit'
		'Funzionalità'
		'Gangway!'
		'Gegeven'
		'Gegewe'
		'Geçmiş'
		'Gitt'
		'Given'
		'Givet'
		'Givun'
		'Grundlage'
		'Hannergrond'
		'Heave to'
		'Hwaet':
		'Háttér'
		'I CAN HAZ'
		'I'
		'In'
		'Ir'
		'It\'s just unbelievable'
		'Ja'
		'Jellemző'
		'Jeżeli'
		'Juhtumid'
		'Kad'
		'Kada'
		'Kai'
		'Kaj'
		'Karakteristik':
		'Když'
		'Ketika'
		'Keď'
		'Khi'
		'Khung tình huống':
		'Ko'
		'Konsep skenario'
		'Kontekst':
		'Kontekstas'
		'Konteksts':
		'Konturo de la scenaro'
		'Kontèks':
		'Kui'
		'Kuid'
		'Kun'
		'Lan'
		'Latar Belakang'
		'Let go and haul'
		'Lè sa a'
		'Lè'
		'Lýsing Atburðarásar':
		'MISHUN SRSLY'
		'MISHUN'
		'Ma'
		'Maar'
		'Mais'
		'Majd'
		'Maka'
		'Manawa'
		'Mas'
		'Men'
		'Mutta'
		'Nalika'
		'Nato'
		'Nhưng'
		'Niin'
		'Njuk'
		'Náčrt Scenáru':
		'Náčrt Scénáře':
		'När'
		'Når'
		'O zaman'
		'OH HAI'
		'Och'
		'Og'
		'Oletetaan'
		'Omadus'
		'Ominaisuus'
		'Ond'
		'Onda'
		'Oraz'
		'Osobina':
		'Pak'
		'Pavyzdžiai':
		'Pero'
		'Però'
		'Piemēri':
		'Plan du scénario':
		'Plan senaryo':
		'Plang vum Szenario'
		'Pokiaľ'
		'Pokud'
		'Pozadie'
		'Pozadina'
		'Pozadí':
		'Požadavek'
		'Požiadavka':
		'Pretty much'
		'Primeri':
		'Primjeri':
		'Pryd'
		'Przykłady'
		'Príklady'
		'Példák'
		'Příklady'
		'Qap':
		'Quan'
		'Quand'
		'Quando'
		'Raamstsenaarium'
		'Reckon it\'s like'
		'Rerefons':
		'Savybė'
		'Scenarie'
		'Scenarij'
		'Scenarij':
		'Scenarijaus šablonas'
		'Scenarijus'
		'Scenario Amlinellol'
		'Scenario Outline':
		'Scenario'
		'Scenario':
		'Scenariomal':
		'Scenariu'
		'Scenariusz'
		'Scenaro'
		'Scenár'
		'Scenārijs pēc parauga'
		'Scenārijs'
		'Schema dello scenario'
		'Scénario'
		'Scénář'
		'Se the':
		'Se'
		'Sed'
		'Senario':
		'Senaryo taslağı'
		'Senaryo'
		'Shiver me timbers'
		'Si'
		'Siis'
		'Sipoze'
		'Situasie Uiteensetting'
		'Situasie'
		'Skenario konsep'
		'Skenario'
		'Skica':
		'Soit'
		'Structura scenariu':
		'Struktura scenarija':
		'Stsenaarium'
		'Swa hwaer swa':
		'Swa'
		'Szablon scenariusza'
		'Szenario'
		'Szenariogrundriss'
		'Så'
		'Tad'
		'Tada'
		'Tak'
		'Tapaukset'
		'Tapaus'
		'Tapausaihio'
		'Tapi'
		'Taust'
		'Tausta'
		'Template Senario':
		'Tetapi'
		'Tha'
		'The thing of it is'
		'Then'
		'Thurh'
		'Thì'
		'Toda'
		'Too right'
		'Trajto'
		'Tình huống':
		'Tính năng'
		'Un'
		'Und'
		'Ve'
		'Voorbeelde'
		'Voorbeelden'
		'Và'
		'WEN'
		'Wanneer'
		'Wenn'
		'Wharrimean is'
		'When'
		'Wtedy'
		'Wun'
		'Właściwość':
		'Y'
		'Y\'know'
		'Yeah nah'
		'Yna'
		'Yo-ho-ho'
		'You\'ll wanna'
		'Zadan'
		'Zadato'
		'Zakładając'
		'Założenia'
		'\'ach'
		'\'ej'
		'an'
		'awer'
		'dann'
		'ghantoH':
		'ghu\' noblu\''
		'lut chovnatlh'
		'lut'
		'mo\''
		'qaSDI\''
		'ugeholl'
		'vaj'
		'wann'
		'És'
		'Örnekler'
		'Özellik'
		'Þegar'
		'Þá'
		'Όταν'
		'Αλλά'
		'Δεδομένου'
		'Δυνατότητα':
		'Και'
		'Παραδείγματα':
		'Περιγραφή Σεναρίου'
		'Σενάριο'
		'Τότε'
		'Υπόβαθρο'
		'І'
		'Агар'
		'Але'
		'Али'
		'Ва'
		'Дадено'
		'Допустим'
		'Если'
		'Задато'
		'И'
		'Када'
		'Кереш'
		'Когато'
		'Контекст':
		'Лекин'
		'Ләкин'
		'Мисоллар'
		'Мөмкинлек':
		'Но'
		'Нәтиҗәдә'
		'Онда'
		'Передумова'
		'Предистория'
		'Предыстория':
		'Приклади'
		'Примери'
		'Примери':
		'Примеры'
		'Припустимо'
		'Рамка на сценарий'
		'Структура сценария'
		'Структура сценарија':
		'Структура сценарію'
		'Сценарий структураси'
		'Сценарий'
		'Сценарийның төзелеше'
		'Сценарио':
		'Сценарій'
		'Тарих'
		'То'
		'Унда'
		'Функционал'
		'Функционалност'
		'Функционалност':
		'Функция':
		'Функціонал'
		'Якщо'
		'Үрнәкләр':
		'Һәм'
		'Әгәр'
		'Әйтик'
		'אבל'
		'אז'
		'בהינתן'
		'דוגמאות'
		'וגם'
		'כאשר'
		'רקע'
		'תבנית תרחיש'
		'תכונה'
		'תרחיש'
		'آنگاه'
		'اذاً'
		'الخلفية'
		'الگوی سناریو'
		'اما'
		'امثلة'
		'اور'
		'اگر'
		'با فرض'
		'بفرض'
		'جب'
		'خاصية'
		'زمینه'
		'سناریو'
		'سيناريو مخطط'
		'سيناريو'
		'صلاحیت':
		'لكن'
		'لیکن'
		'متى'
		'مثالیں'
		'منظر نامے کا خاکہ'
		'منظرنامہ'
		'نمونه ها'
		'هنگامی'
		'و'
		'وِیژگی'
		'پس منظر'
		'پھر'
		'अगर'
		'उदाहरण'
		'और'
		'जब'
		'तब'
		'पर'
		'परिदृश्य रूपरेखा'
		'परिदृश्य'
		'पृष्ठभूमि'
		'रूप लेख'
		'ਅਤੇ'
		'ਉਦਾਹਰਨਾਂ'
		'ਖਾਸੀਅਤ':
		'ਜਦੋਂ'
		'ਜੇਕਰ'
		'ਤਦ'
		'ਪਟਕਥਾ ਢਾਂਚਾ':
		'ਪਟਕਥਾ'
		'ਪਰ'
		'ਪਿਛੋਕੜ'
		'అప్పుడు'
		'ఈ పరిస్థితిలో'
		'ఉదాహరణలు'
		'కథనం'
		'కాని'
		'గుణము'
		'చెప్పబడినది'
		'నేపథ్యం'
		'మరియు'
		'సన్నివేశం'
		'ಆದರೆ'
		'ಉದಾಹರಣೆಗಳು'
		'ಕಥಾಸಾರಾಂಶ'
		'ನಂತರ'
		'ನೀಡಿದ'
		'ಮತ್ತು'
		'ವಿವರಣೆ'
		'ಸ್ಥಿತಿಯನ್ನು'
		'ಹಿನ್ನೆಲೆ'
		'ಹೆಚ್ಚಳ'
		'กำหนดให้'
		'ชุดของตัวอย่าง':
		'ดังนั้น'
		'สรุปเหตุการณ์':
		'เมื่อ'
		'เหตุการณ์'
		'แต่'
		'แนวคิด'
		'และ'
		'โครงหลัก':
		'かつ'
		'しかし'
		'ならば'
		'もし'
		'シナリオ'
		'シナリオアウトライン':
		'フィーチャ':
		'但是'
		'例':
		'例子'
		'假如'
		'前提'
		'功能'
		'场景':
		'场景大纲':
		'場景':
		'場景大綱':
		'当'
		'當'
		'而且'
		'背景'
		'那么'
		'那麼'
		'그러면'
		'그리고'
		'기능'
		'만일'
		'배경'
		'시나리오 개요'
		'시나리오'
		'예'
		'조건'
		'하지만'
		'7'
		'A taktiež'
		'A tiež'
		'A zároveň'
		'A'
		'Ability'
		'Abstrakt Scenario'
		'Adott'
		'Ak'
		'Ama'
		'Amikor'
		'Ampak'
		'Ananging'
		'Antecedents'
		'Aspekt':
		'Atburðarásir'
		'Atesa'
		'Atès'
		'Bagi'
		'Banjur'
		'Besigheid Behoefte':
		'Business Need':
		'Cal'
		'Caracteristica'
		'Característica':
		'Ce'
		'Cenario de Fundo':
		'Cenario'
		'Cenarios'
		'Cenário de Fundo':
		'Cenários':
		'Cho'
		'Contone'
		'Când'
		'DaH ghu\' bejlu\''
		'Dada'
		'Dadas'
		'Dados'
		'Dat fiind'
		'Data'
		'Date'
		'Dati fiind'
		'Dati'
		'Daţi fiind'
		'Dați fiind'
		'Delineacao do Cenario'
		'Delineação do Cenário':
		'Den youse gotta'
		'Donada'
		'Dyagram Senaryo'
		'Dyagram senaryo':
		'E'
		'Entao'
		'Epi'
		'Esquema do Cenario':
		'Etant donné'
		'Etant donnée'
		'Etant données'
		'Etant donnés'
		'Fonksyonalite'
		'Funcionalitat'
		'Funcţionalitate'
		'Funcționalitate':
		'Fundo'
		'Funkcia':
		'Funkcija':
		'Funkcja':
		'Fīča'
		'Gdy'
		'Gegeben sei'
		'Gegeben seien'
		'Ha'
		'Hwæt'
		'I'
		'Istorik'
		'Jeśli'
		'Kad'
		'Kadar'
		'Keadaan'
		'Kemudian'
		'Khung kịch bản'
		'Kiedy'
		'Koncept'
		'Koncept':
		'Kontext'
		'Kịch bản'
		'Lastnost':
		'Le sa a'
		'Le'
		'Logo'
		'Lorsqu\''
		'Lorsque'
		'Lýsing Dæma'
		'Mając'
		'Mak':
		'Menawa'
		'Menggariskan Senario'
		'Mogucnost'
		'Mogucnost':
		'Mogućnost':
		'Moznosti':
		'Možnosti':
		'Nalikaning'
		'Nanging'
		'Náčrt Scenára':
		'Oris scenarija':
		'Osnova Scenára'
		'Osnova scénáře'
		'Osnova':
		'Osnutek'
		'Osobina'
		'Ozadje'
		'Paraugs'
		'Pero'
		'Plan Senaryo':
		'Plan du Scénario'
		'Podano'
		'Potem'
		'Potom'
		'Potrzeba biznesowa'
		'Pozadina'
		'Primer'
		'Privzeto'
		'Qu\'meH \'ut':
		'Scenarijai':
		'Scenariji'
		'Scenario Template'
		'Scenariomall'
		'Scenarios'
		'Se ðe'
		'Se þe':
		'Senaryo Deskripsyon':
		'Senaryo deskripsyon':
		'Sipoze Ke'
		'Sipoze ke'
		'Situai':
		'Situācija'
		'Skica':
		'Stel'
		'Structură scenariu'
		'Swa hwær swa'
		'Takrat'
		'Tapi'
		'Template Keadaan':
		'Template Situai':
		'Ter'
		'Tha the'
		'Variantai'
		'Vendar'
		'Vermoë'
		'Vlastnosť'
		'Youse know like when'
		'Youse know when youse got'
		'Za predpokladu'
		'Za předpokladu'
		'Zadani'
		'Zadano'
		'Zadate'
		'Zaradi'
		'Zatati'
		'Značilnost'
		'\'a'
		'a'
		'laH'
		'latlh'
		'lutmey'
		'mä'
		'perbogh':
		'poQbogh malja\'':
		'Ær'
		'Étant donné'
		'Étant donnée'
		'Étant données'
		'Étant donnés'
		'Ða ðe'
		'Ða'
		'Ðurh'
		'Þa þe'
		'Þa'
		'Þurh'
		'Če'
		'Şi'
		'Și'
		'Λειτουργία'
		'Σενάρια'
		'А також'
		'А'
		'Аммо'
		'Бирок'
		'Вә'
		'Дано'
		'Задате'
		'Задати'
		'К тому же'
		'Кад'
		'Когда'
		'Коли'
		'Контекст'
		'Концепт'
		'Мисаллар'
		'Могућност':
		'Нехай'
		'Основа':
		'Особина'
		'Позадина'
		'Пример'
		'Припустимо, що'
		'Пусть'
		'Свойство'
		'Скица':
		'Сценарији'
		'Та'
		'Также'
		'Тогда'
		'Тоді'
		'Функционал':
		'Үзенчәлеклелек'
		'Әмма'
		'אזי'
		'بالفرض'
		'تب'
		'ثم'
		'خصوصیت'
		'عندما'
		'فرض کیا'
		'کاروبار کی ضرورت':
		'कदा'
		'किन्तु'
		'चूंकि'
		'तथा'
		'तदा'
		'परन्तु'
		'यदि'
		'ਜਿਵੇਂ ਕਿ'
		'ਨਕਸ਼ ਨੁਹਾਰ'
		'ਪਟਕਥਾ ਰੂਪ ਰੇਖਾ'
		'ਮੁਹਾਂਦਰਾ':
		'ความต้องการทางธุรกิจ':
		'ความสามารถ'
		'ชุดของเหตุการณ์'
		'โครงสร้างของเหตุการณ์'
		'ただし'
		'サンプル'
		'シナリオテンプレ'
		'シナリオテンプレート':
		'テンプレ':
		'並且'
		'但し'
		'假定'
		'假設'
		'假设'
		'剧本'
		'剧本大纲'
		'劇本'
		'劇本大綱'
		'同时'
		'同時'
		'并且'
		'機能'
		'단'
		'만약'
		'먼저'
    ]
    'increaseIndentPattern': 'Scenario: .*'
    'commentStart': '# '
