'.text.gherkin.feature.ka':
  'editor':
    'completions': [
      'თვისება:'
      'კონტექსტი:'
      'მაგალითად:'
      'სცენარის:'
      'სცენარის ნიმუში:'
      'მაგალითები:'
      'მოცემული'
      'როდესაც'
      'მაშინ'
      'მაგ­რამ'
      'და'
    ]
    'increaseIndentPattern':       'მაგალითად: .*'
      'სცენარის: .*'

    'commentStart': '# '
