'.text.gherkin.feature.cy-GB':
  'editor':
    'completions': [
      'Arwedd:'
      'Cefndir:'
      'Enghraifft:'
      'Scenario:'
      'Scenario Amlinellol:'
      'Enghreifftiau:'
      'Anrhegedig a '
      'Pryd '
      'Yna '
      'Ond '
      'A '
    ]
    'increaseIndentPattern':       'Enghraifft: .*'
      'Scenario: .*'

    'commentStart': '# '
