'.text.gherkin.feature.am':
  'editor':
    'completions': [
      'Ֆունկցիոնալություն:'
      'Հատկություն:'
      'Կոնտեքստ:'
      'Սցենար:'
      'Սցենարի կառուցվացքը:'
      'Օրինակներ:'
      'Դիցուք'
      'Եթե'
      'Երբ'
      'Ապա'
      'Բայց'
      'Եվ'
    ]
    'increaseIndentPattern': [
      'Սցենար: .*'
    ]
    'commentStart': '# '
