'.text.gherkin.feature.ja':
  'editor':
    'completions': [
      'フィーチャ:'
      '機能:'
      '背景:'
      'シナリオ:'
      'シナリオアウトライン:'
      'シナリオテンプレート:'
      'テンプレ:'
      'シナリオテンプレ:'
      '例:'
      'サンプル:'
      '前提'
      'もし'
      'ならば'
      'しかし'
      '但し'
      'ただし'
      'かつ'
    ]
    'increaseIndentPattern': [
      'シナリオ: .*'
    ]
    'commentStart': '# '
