'.text.gherkin.feature.hi':
  'editor':
    'completions': [
      'रूप लेख:'
      'पृष्ठभूमि:'
      'परिदृश्य:'
      'परिदृश्य रूपरेखा:'
      'उदाहरण:'
      'अगर '
      'यदि '
      'चूंकि '
      'जब '
      'कदा '
      'तब '
      'तदा '
      'पर '
      'परन्तु '
      'किन्तु '
      'और '
      'तथा '
    ]
    'increaseIndentPattern': [
      'परिदृश्य: .*'
    ]
    'commentStart': '# '
