'.text.gherkin.feature.de':
  'editor':
    'completions': [
      'Funktionalität:'
      'Grundlage:'
      'Beispiel:'
      'Szenario:'
      'Szenariogrundriss:'
      'Beispiele:'
      'Angenommen '
      'Gegeben sei '
      'Gegeben seien '
      'Wenn '
      'Dann '
      'Aber '
      'Und '
    ]
    'increaseIndentPattern':       'Beispiel: .*'
      'Szenario: .*'

    'commentStart': '# '
