'.text.gherkin.feature.hr':
  'editor':
    'completions': [
      'Osobina:'
      'Mogućnost:'
      'Mogucnost:'
      'Pozadina:'
      'Primjer:'
      'Scenarij:'
      'Skica:'
      'Koncept:'
      'Primjeri:'
      'Scenariji:'
      'Zadan '
      'Zadani '
      'Zadano '
      'Ukoliko '
      'Kada '
      'Kad '
      'Onda '
      'Ali '
      'I '
    ]
    'increaseIndentPattern':       'Primjer: .*'
      'Scenarij: .*'

    'commentStart': '# '
