'.text.gherkin.feature.ca':
  'editor':
    'completions': [
      'Característica:'
      'Funcionalitat:'
      'Rerefons:'
      'Antecedents:'
      'Exemple:'
      'Escenari:'
      'Esquema de l\'escenari:'
      'Exemples:'
      'Donat '
      'Donada '
      'Atès '
      'Atesa '
      'Quan '
      'Aleshores '
      'Cal '
      'Però '
      'I '
    ]
    'increaseIndentPattern':       'Exemple: .*'
      'Escenari: .*'

    'commentStart': '# '
