'.text.gherkin.feature.ur':
  'editor':
    'completions': [
      'صلاحیت:'
      'کاروبار کی ضرورت:'
      'خصوصیت:'
      'پس منظر:'
      'منظرنامہ:'
      'منظر نامے کا خاکہ:'
      'مثالیں:'
      'اگر '
      'بالفرض '
      'فرض کیا '
      'جب '
      'پھر '
      'تب '
      'لیکن '
      'اور '
    ]
    'increaseIndentPattern': [
      'منظرنامہ: .*'
    ]
    'commentStart': '# '
