'.text.gherkin.feature.fr':
  'editor':
    'completions': [
      'Fonctionnalité:'
      'Contexte:'
      'Scénario:'
      'Plan du scénario:'
      'Plan du Scénario:'
      'Exemples:'
      'Soit '
      'Etant donné que '
      'Etant donné qu\''
      'Etant donné '
      'Etant donnée '
      'Etant donnés '
      'Etant données '
      'Étant donné que '
      'Étant donné qu\''
      'Étant donné '
      'Étant donnée '
      'Étant donnés '
      'Étant données '
      'Quand '
      'Lorsque '
      'Lorsqu\''
      'Alors '
      'Mais que '
      'Mais qu\''
      'Mais '
      'Et que '
      'Et qu\''
      'Et '
    ]
    'increaseIndentPattern': [
      'Scénario: .*'
    ]
    'commentStart': '# '
