'.text.gherkin.feature.sr-Cyrl':
  'editor':
    'completions': [
      'Функционалност:'
      'Могућност:'
      'Особина:'
      'Контекст:'
      'Основа:'
      'Позадина:'
      'Сценарио:'
      'Пример:'
      'Структура сценарија:'
      'Скица:'
      'Концепт:'
      'Примери:'
      'Сценарији:'
      'За дато '
      'За дате '
      'За дати '
      'Када '
      'Кад '
      'Онда '
      'Али '
      'И '
    ]
    'increaseIndentPattern':       'Сценарио: .*'
      'Пример: .*'

    'commentStart': '# '
