'.text.gherkin.feature.mn':
  'editor':
    'completions': [
      'Функц:'
      'Функционал:'
      'Агуулга:'
      'Сценар:'
      'Сценарын төлөвлөгөө:'
      'Тухайлбал:'
      'Өгөгдсөн нь '
      'Анх '
      'Хэрэв '
      'Тэгэхэд '
      'Үүний дараа '
      'Гэхдээ '
      'Харин '
      'Мөн '
      'Тэгээд '
    ]
    'increaseIndentPattern': [
      'Сценар: .*'
    ]
    'commentStart': '# '
