'.text.gherkin.feature.uz':
  'editor':
    'completions': [
      'Функционал:'
      'Тарих:'
      'Сценарий:'
      'Сценарий структураси:'
      'Мисоллар:'
      '* '
      'Агар '
      '* '
      'Агар '
      '* '
      'Унда '
      '* '
      'Лекин '
      'Бирок '
      'Аммо '
      '* '
      'Ва '
    ]
    'increaseIndentPattern': [
      'Сценарий: .*'
    ]
    'commentStart': '# '
