'.text.gherkin.feature.fr':
  'editor':
    'completions': [
      'Fonctionnalité:'
      'Contexte:'
      'Scénario:'
      'Plan du scénario:'
      'Plan du Scénario:'
      'Exemples:'
      'Soit'
      'Etant donné'
      'Etant donnée'
      'Etant donnés'
      'Etant données'
      'Étant donné'
      'Étant donnée'
      'Étant donnés'
      'Étant données'
      'Quand'
      'Lorsque'
      'Lorsqu\''
      'Alors'
      'Mais'
      'Et'
    ]
    'increaseIndentPattern': [
      'Scénario: .*'
    ]
    'commentStart': '# '
