'.text.gherkin.feature.cs':
  'editor':
    'completions': [
      'Požadavek:'
      'Pozadí:'
      'Kontext:'
      'Příklad:'
      'Scénář:'
      'Náčrt Scénáře:'
      'Osnova scénáře:'
      'Příklady:'
      'Pokud '
      'Za předpokladu '
      'Když '
      'Pak '
      'Ale '
      'A také '
      'A '
    ]
    'increaseIndentPattern':       'Příklad: .*'
      'Scénář: .*'

    'commentStart': '# '
