'.text.gherkin.feature.hu':
  'editor':
    'completions': [
      'Jellemző:'
      'Háttér:'
      'Példa:'
      'Forgatókönyv:'
      'Forgatókönyv vázlat:'
      'Példák:'
      'Amennyiben '
      'Adott '
      'Majd '
      'Ha '
      'Amikor '
      'Akkor '
      'De '
      'És '
    ]
    'increaseIndentPattern':       'Példa: .*'
      'Forgatókönyv: .*'

    'commentStart': '# '
