'.text.gherkin.feature.bs':
  'editor':
    'completions': [
      'Karakteristika:'
      'Pozadina:'
      'Primjer:'
      'Scenariju:'
      'Scenario:'
      'Scenariju-obris:'
      'Scenario-outline:'
      'Primjeri:'
      'Dato '
      'Kada '
      'Zatim '
      'Ali '
      'I '
      'A '
    ]
    'increaseIndentPattern':       'Primjer: .*'
      'Scenariju: .*'
      'Scenario: .*'

    'commentStart': '# '
