'.text.gherkin.feature.es':
  'editor':
    'completions': [
      'Característica:'
      'Antecedentes:'
      'Ejemplo:'
      'Escenario:'
      'Esquema del escenario:'
      'Ejemplos:'
      'Dado '
      'Dada '
      'Dados '
      'Dadas '
      'Cuando '
      'Entonces '
      'Pero '
      'Y '
      'E '
    ]
    'increaseIndentPattern':       'Ejemplo: .*'
      'Escenario: .*'

    'commentStart': '# '
