'.text.gherkin.feature.af':
  'editor':
    'completions': [
      'Funksie:'
      'Besigheid Behoefte:'
      'Vermoë:'
      'Agtergrond:'
      'Voorbeeld:'
      'Situasie:'
      'Situasie Uiteensetting:'
      'Voorbeelde:'
      'Gegewe '
      'Wanneer '
      'Dan '
      'Maar '
      'En '
    ]
    'increaseIndentPattern':       'Voorbeeld: .*'
      'Situasie: .*'

    'commentStart': '# '
