'.text.gherkin.feature.sk':
  'editor':
    'completions': [
      'Požiadavka:'
      'Funkcia:'
      'Vlastnosť:'
      'Pozadie:'
      'Scenár:'
      'Náčrt Scenáru:'
      'Náčrt Scenára:'
      'Osnova Scenára:'
      'Príklady:'
      '* '
      'Pokiaľ '
      'Za predpokladu '
      '* '
      'Keď '
      'Ak '
      '* '
      'Tak '
      'Potom '
      '* '
      'Ale '
      '* '
      'A '
      'A tiež '
      'A taktiež '
      'A zároveň '
    ]
    'increaseIndentPattern': [
      'Scenár: .*'
    ]
    'commentStart': '# '
