'.text.gherkin.feature.et':
  'editor':
    'completions': [
      'Omadus:'
      'Taust:'
      'Juhtum:'
      'Stsenaarium:'
      'Raamstjuhtum:'
      'Raamstsenaarium:'
      'Juhtumid:'
      'Eeldades '
      'Kui '
      'Siis '
      'Kuid '
      'Ja '
    ]
    'increaseIndentPattern':       'Juhtum: .*'
      'Stsenaarium: .*'

    'commentStart': '# '
