'.text.gherkin.feature.da':
  'editor':
    'completions': [
      'Egenskab:'
      'Baggrund:'
      'Eksempel:'
      'Scenarie:'
      'Abstrakt Scenario:'
      'Eksempler:'
      'Givet '
      'Når '
      'Så '
      'Men '
      'Og '
    ]
    'increaseIndentPattern':       'Eksempel: .*'
      'Scenarie: .*'

    'commentStart': '# '
