'.text.gherkin.feature.th':
  'editor':
    'completions': [
      'โครงหลัก:'
      'ความต้องการทางธุรกิจ:'
      'ความสามารถ:'
      'แนวคิด:'
      'เหตุการณ์:'
      'สรุปเหตุการณ์:'
      'โครงสร้างของเหตุการณ์:'
      'ชุดของตัวอย่าง:'
      'ชุดของเหตุการณ์:'
      'กำหนดให้ '
      'เมื่อ '
      'ดังนั้น '
      'แต่ '
      'และ '
    ]
    'increaseIndentPattern':       'เหตุการณ์: .*'
    'commentStart': '# '
