'.text.gherkin.feature.he':
  'editor':
    'completions': [
      'תכונה:'
      'רקע:'
      'דוגמא:'
      'תרחיש:'
      'תבנית תרחיש:'
      'דוגמאות:'
      'בהינתן '
      'כאשר '
      'אז '
      'אזי '
      'אבל '
      'וגם '
    ]
    'increaseIndentPattern':       'דוגמא: .*'
      'תרחיש: .*'

    'commentStart': '# '
