'.text.gherkin.feature.fa':
  'editor':
    'completions': [
      'وِیژگی:'
      'زمینه:'
      'مثال:'
      'سناریو:'
      'الگوی سناریو:'
      'نمونه ها:'
      'با فرض '
      'هنگامی '
      'آنگاه '
      'اما '
      'و '
    ]
    'increaseIndentPattern':       'مثال: .*'
      'سناریو: .*'

    'commentStart': '# '
