'.text.gherkin.feature.lu':
  'editor':
    'completions': [
      'Funktionalitéit:'
      'Hannergrond:'
      'Beispill:'
      'Szenario:'
      'Plang vum Szenario:'
      'Beispiller:'
      'ugeholl '
      'wann '
      'dann '
      'awer '
      'mä '
      'an '
      'a '
    ]
    'increaseIndentPattern':       'Beispill: .*'
      'Szenario: .*'

    'commentStart': '# '
