'.text.gherkin.feature.ru':
  'editor':
    'completions': [
      'Функция:'
      'Функционал:'
      'Свойство:'
      'Предыстория:'
      'Контекст:'
      'Сценарий:'
      'Структура сценария:'
      'Примеры:'
      'Допустим '
      'Дано '
      'Пусть '
      'Если '
      'Когда '
      'То '
      'Тогда '
      'Но '
      'А '
      'И '
      'К тому же '
      'Также '
    ]
    'increaseIndentPattern':       'Сценарий: .*'
    'commentStart': '# '
