'.text.gherkin.feature.pl':
  'editor':
    'completions': [
      'Właściwość:'
      'Funkcja:'
      'Aspekt:'
      'Potrzeba biznesowa:'
      'Założenia:'
      'Przykład:'
      'Scenariusz:'
      'Szablon scenariusza:'
      'Przykłady:'
      'Zakładając '
      'Mając '
      'Zakładając, że '
      'Jeżeli '
      'Jeśli '
      'Gdy '
      'Kiedy '
      'Wtedy '
      'Ale '
      'Oraz '
      'I '
    ]
    'increaseIndentPattern':       'Przykład: .*'
      'Scenariusz: .*'

    'commentStart': '# '
