'.text.gherkin.feature.tl':
  'editor':
    'completions': [
      'గుణము:'
      'నేపథ్యం:'
      'సన్నివేశం:'
      'కథనం:'
      'ఉదాహరణలు:'
      'చెప్పబడినది '
      'ఈ పరిస్థితిలో '
      'అప్పుడు '
      'కాని '
      'మరియు '
    ]
    'increaseIndentPattern':       'సన్నివేశం: .*'
    'commentStart': '# '
