'.text.gherkin.feature.bg':
  'editor':
    'completions': [
      'Функционалност:'
      'Предистория:'
      'Сценарий:'
      'Рамка на сценарий:'
      'Примери:'
      'Дадено'
      'Когато'
      'То'
      'Но'
      'И'
    ]
    'increaseIndentPattern': [
      'Сценарий: .*'
    ]
    'commentStart': '# '
