'.text.gherkin.feature.mk-Cyrl':
  'editor':
    'completions': [
      'Функционалност:'
      'Бизнис потреба:'
      'Можност:'
      'Контекст:'
      'Содржина:'
      'Пример:'
      'Сценарио:'
      'На пример:'
      'Преглед на сценарија:'
      'Скица:'
      'Концепт:'
      'Примери:'
      'Сценарија:'
      'Дадено '
      'Дадена '
      'Кога '
      'Тогаш '
      'Но '
      'И '
    ]
    'increaseIndentPattern':       'Пример: .*'
      'Сценарио: .*'
      'На пример: .*'

    'commentStart': '# '
