'.text.gherkin.feature.em':
  'editor':
    'completions': [
      '📚:'
      '💤:'
      '📕:'
      '📖:'
      '📓:'
      '* '
      '😐'
      '* '
      '🎬'
      '* '
      '🙏'
      '* '
      '😔'
      '* '
      '😂'
    ]
    'increaseIndentPattern': [
      '📕: .*'
    ]
    'commentStart': '# '
