'.text.gherkin.feature.fa':
  'editor':
    'completions': [
      'وِیژگی:'
      'زمینه:'
      'سناریو:'
      'الگوی سناریو:'
      'نمونه ها:'
      '* '
      'با فرض '
      '* '
      'هنگامی '
      '* '
      'آنگاه '
      '* '
      'اما '
      '* '
      'و '
    ]
    'increaseIndentPattern': [
      'سناریو: .*'
    ]
    'commentStart': '# '
