'.text.gherkin.feature.sl':
  'editor':
    'completions': [
      'Funkcionalnost:'
      'Funkcija:'
      'Možnosti:'
      'Moznosti:'
      'Lastnost:'
      'Značilnost:'
      'Kontekst:'
      'Osnova:'
      'Ozadje:'
      'Scenarij:'
      'Primer:'
      'Struktura scenarija:'
      'Skica:'
      'Koncept:'
      'Oris scenarija:'
      'Osnutek:'
      'Primeri:'
      'Scenariji:'
      'Dano'
      'Podano'
      'Zaradi'
      'Privzeto'
      'Ko'
      'Ce'
      'Če'
      'Kadar'
      'Nato'
      'Potem'
      'Takrat'
      'Toda'
      'Ampak'
      'Vendar'
      'In'
      'Ter'
    ]
    'increaseIndentPattern': [
      'Scenarij: .*'
      'Primer: .*'

    ]
    'commentStart': '# '
