'.text.gherkin.feature.en':
  'editor':
    'completions': [
      'Feature:'
      'Business Need:'
      'Ability:'
      'Background:'
      'Scenario:'
      'Scenario Outline:'
      'Scenario Template:'
      'Examples:'
      'Scenarios:'
      'Given '
      'When '
      'Then '
      'But '
      'And '
    ]
    'increaseIndentPattern':       'Scenario: .*'
    'commentStart': '# '
