'.text.gherkin.feature.ta':
  'editor':
    'completions': [
      'அம்சம்:'
      'வணிக தேவை:'
      'திறன்:'
      'பின்னணி:'
      'உதாரணமாக:'
      'காட்சி:'
      'காட்சி சுருக்கம்:'
      'காட்சி வார்ப்புரு:'
      'எடுத்துக்காட்டுகள்:'
      'காட்சிகள்:'
      'நிலைமைகளில்:'
      'கொடுக்கப்பட்ட '
      'எப்போது '
      'அப்பொழுது '
      'ஆனால்  '
      'மேலும்  '
      'மற்றும் '
    ]
    'increaseIndentPattern':       'உதாரணமாக: .*'
      'காட்சி: .*'

    'commentStart': '# '
