'.text.gherkin.feature.el':
  'editor':
    'completions': [
      'Δυνατότητα:'
      'Λειτουργία:'
      'Υπόβαθρο:'
      'Σενάριο:'
      'Περιγραφή Σεναρίου:'
      'Παραδείγματα:'
      'Σενάρια:'
      'Δεδομένου'
      'Όταν'
      'Τότε'
      'Αλλά'
      'Και'
    ]
    'increaseIndentPattern': [
      'Σενάριο: .*'
    ]
    'commentStart': '# '
