'.text.gherkin.feature.tt':
  'editor':
    'completions': [
      'Мөмкинлек:'
      'Үзенчәлеклелек:'
      'Кереш:'
      'Сценарий:'
      'Сценарийның төзелеше:'
      'Үрнәкләр:'
      'Мисаллар:'
      'Әйтик '
      'Әгәр '
      'Нәтиҗәдә '
      'Ләкин '
      'Әмма '
      'Һәм '
      'Вә '
    ]
    'increaseIndentPattern':       'Сценарий: .*'
    'commentStart': '# '
