'.text.gherkin.feature.lt':
  'editor':
    'completions': [
      'Savybė:'
      'Kontekstas:'
      'Pavyzdys:'
      'Scenarijus:'
      'Scenarijaus šablonas:'
      'Pavyzdžiai:'
      'Scenarijai:'
      'Variantai:'
      'Duota '
      'Kai '
      'Tada '
      'Bet '
      'Ir '
    ]
    'increaseIndentPattern':       'Pavyzdys: .*'
      'Scenarijus: .*'

    'commentStart': '# '
