'.text.gherkin.feature.kn':
  'editor':
    'completions': [
      'ಹೆಚ್ಚಳ:'
      'ಹಿನ್ನೆಲೆ:'
      'ಉದಾಹರಣೆ:'
      'ಕಥಾಸಾರಾಂಶ:'
      'ವಿವರಣೆ:'
      'ಉದಾಹರಣೆಗಳು:'
      'ನೀಡಿದ '
      'ಸ್ಥಿತಿಯನ್ನು '
      'ನಂತರ '
      'ಆದರೆ '
      'ಮತ್ತು '
    ]
    'increaseIndentPattern':       'ಉದಾಹರಣೆ: .*'
      'ಕಥಾಸಾರಾಂಶ: .*'

    'commentStart': '# '
