'.text.gherkin.feature.nl':
  'editor':
    'completions': [
      'Functionaliteit:'
      'Achtergrond:'
      'Voorbeeld:'
      'Scenario:'
      'Abstract Scenario:'
      'Voorbeelden:'
      'Gegeven '
      'Stel '
      'Als '
      'Wanneer '
      'Dan '
      'Maar '
      'En '
    ]
    'increaseIndentPattern':       'Voorbeeld: .*'
      'Scenario: .*'

    'commentStart': '# '
